### pandas 모듈을 이용하여 파일의 내용을 DataFrame으로 생성한다

In [4]:
import pandas as pd
from pandas import DataFrame

In [33]:
# txt문서를 읽어 DataFrame 구하기
#             읽어올 파일명                   구분기호
dataFrame = pd.read_table('testFile/test_text_file.txt', '|', engine='python')
display(dataFrame)

UnicodeDecodeError: 'utf-8' codec can't decode byte 0xb1 in position 29: invalid start byte

In [25]:
dataFrame2 = pd.read_table('testFile/naverHotKey.txt', ',', engine='python')
display(dataFrame2)
display(dataFrame2.head(5))

    ID      HOTKEY  WEIGHT
0    1        샘스미스   132.5
1    2         최은희   130.0
2    3      류현진 중계   112.5
3    4         한고은   112.5
4    5         류현진   110.5
..  ..         ...     ...
75  76         배기성     1.0
76  77         금성무     0.5
77  78      홍진영 담요     0.5
78  79    청와대 국민청원     0.5
79  80   농협 공인인증센터     0.5

[80 rows x 3 columns]

   ID   HOTKEY  WEIGHT
0   1     샘스미스   132.5
1   2      최은희   130.0
2   3   류현진 중계   112.5
3   4      한고은   112.5
4   5      류현진   110.5

In [27]:
# title이 파일에 없는 경우                                       파일안에 header없다
dataFrame3 = pd.read_table('testFile/test_text_file2.txt','|', header=None, names=['이름','국어','영어','수학','과학'], engine='python')
display(dataFrame3)

     이름   국어  영어  수학  과학
0   홍길동  100  65  61  52
1   이순신   90  70  88  98
2   최길동   87  79  92  80
3  세종대왕   67  58  66  59
4   김연아   89  62  78  82
5   박태환   79  68  77  32

In [28]:
# dataFrame에서 컬럼명 얻어오기
columnList = dataFrame3.columns
columnList

Index(['이름', '국어', '영어', '수학', '과학'], dtype='object')

In [29]:
# 컬럼삭제
data1 = dataFrame3.drop('과학', axis=1)  #  행지정 : 0,  열지정 : 1
display(data1)

     이름   국어  영어  수학
0   홍길동  100  65  61
1   이순신   90  70  88
2   최길동   87  79  92
3  세종대왕   67  58  66
4   김연아   89  62  78
5   박태환   79  68  77

In [30]:
# 행삭제
data2 = data1.drop(3, axis=0)
display(data2)

    이름   국어  영어  수학
0  홍길동  100  65  61
1  이순신   90  70  88
2  최길동   87  79  92
4  김연아   89  62  78
5  박태환   79  68  77